{extend name="templates/public/base.html" /}
{block name="cascade"}{/block}
{block name="main"}
<br />
<h1 align="center">登录</h1>
<br />
<div class="container">
    <form action="#" method="post" id="login_form">
        <div class="form-group">
        <input type="text" class="form-control" name="account" placeholder="请输入邮箱/用户名">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="图像验证码">
        <br />
        <div class="code-img">
            <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?t='+Math.random()"
             alt="点击更换" title="点击更换" class="captcha" name="codeimage" id="codeimage" border="0"/>
        </div>
        </div>
        <p><button type="button" id="sub" class="btn btn-primary btn-block">登录</button></p><br />
        <p><a class="btn btn-block btn-myblue" href="{:url('user/public/register')}">还没有账号？去注册</a></p><br />
  <p><a class="btn btn-block btn-light-grey" href="{:url('user/public/find_pass')}">&emsp;忘记密码了？点击找回密码&emsp;</a></p>
    </form>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['element','layer'],function(){
    var element = layui.element;
    var layer = layui.layer;

    //AJAX表单提交处理
    $("#sub").on('click',function(){
        $.ajax({
            type: "POST",
            url: '{:url("dologin")}',
            data: $("#login_form").serialize(),
            success: function(result){
                if(result['status'] == 0){
                    layer.msg(result['msg'],{icon:1, offset:'40vh',shade:0.5,time: 1200},function(){
                        window.location.href="{:url('/')}";
                    });
                }else{
                    $("#codeimage").attr('src','{:captcha_src()}?t='+Math.random());
                    layer.msg(result['msg'],{icon:2, offset:'40vh',shade:0.5,time: 1600});
                }
            },
            error: function(result){
                alert(result);
                window.location.href="{:url('user/public/login')}";
            }
        });
    });
});
</script>
{/block}