{extend name="templates/public/base.html" /}
{block name="cascade"}{/block}
{block name="main"}
<br />
<h3 align="center">登录</h3>
<br />
<div class="container">
    <form action="#" method="post" id="login_form">
        <div class="form-group">
        <input type="text" class="form-control" name="account" placeholder="请输入邮箱/用户名">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="图像验证码">
        <br />
        <div class="code-img">
            <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?t='+Math.random()"
             alt="点击更换" title="点击更换" class="captcha" name="codeimage" id="codeimage" border="0"/>
        </div>
        </div>
        <p style="margin-bottom:10px;"><button type="button" id="sub" class="btn btn-success btn-block">登录</button></p>
        <p align="right" style="margin-bottom:10px;"><a href="{:url('user/public/find_pass')}" style="color:#46569c;font-size:16px;">忘记密码?</a></p>
        <p align="center"><a class="btn btn-white" style="width:80vw;" href="{:url('user/public/register')}">还没有账号？去注册</a></p><br />
    </form>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script src="__STATIC__/common/js/common.js"></script>
<script>
layui.use(['element','layer'],function(){
    var element = layui.element;
    var layer = layui.layer;
    toType = getQueryVariable("type");
    toUrl = getQueryVariable("ref");

    //AJAX表单提交处理
    $("#sub").on('click',function(){
        $.ajax({
            type: "POST",
            url: '{:url("dologin")}',
            data: $("#login_form").serialize(),
            success: function(result){
                if(result['status'] == 0){
                    if(toType){
                        if(toType == 1){
                            $.get(
                                '{:url("user/public/can_apply")}',
                                function(data,status){
                                    if(data.status == 0){
                                        layer.msg('登录成功，即将跳转到登录前页面～',{icon:1, offset:'40vh',shade:0.5,time: 1200},function(){
                                            window.location.href=toUrl;
                                        });
                                    }else{
                                        layer.msg('登录成功，'+data.msg,{icon: 1,time:1800,shade:0.5,offset:['30vh']},function(){
                                            window.location.href=data.data+'?ref='+toUrl+'&type=1'; 
                                        });  
                                    }
                                }
                            );
                        }else{
                            $.get(
                                '{:url("user/public/myprojects")}',
                                function(data,status){
                                    if(data.status == 0){
                                        layer.msg('登录成功，即将跳转到登录前页面～',{icon:1, offset:'40vh',shade:0.5,time: 1200},function(){
                                            window.location.href=toUrl;
                                        });
                                    }else{
                                        layer.msg('登录成功，'+data.msg,{icon: 6,time:1800,offset:['30vh']},function(){
                                            window.location.href=data.data+'?ref='+toUrl+'&type=2';
                                        });
                                    }
                                }
                            );
                        }
                    }else{
                        layer.msg(result['msg'],{icon:1, offset:'40vh',shade:0.5,time: 1200},function(){
                            window.location.href="{:url('/')}";
                        });
                    }
                }else{
                    console.log(result);
                    $("#codeimage").attr('src','{:captcha_src()}?t='+Math.random());
                    layer.msg(result['msg'],{icon:5, offset:'40vh',shade:0.5,time: 1600});
                }
            },
            error: function(result){
                console.log(result);
                alert(result);
                window.location.href="{:url('user/public/login')}";
            }
        });
    });
});
</script>
{/block}