{extend name="templates/public/base.html" /}
{block name="cascade"}{/block}
{block name="main"}
<br />
<h1 align="center">登录</h1>
<br />
<div class="container" style="height: 78vh;">
    <form action="{:url('dologin')}" method="post" >
        <div class="form-group">
        <input type="text" class="form-control" name="account" placeholder="请输入邮箱/用户名">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="图像验证码">
        <br />
        <div class="code-img">
            <img src="{:captcha_src()}" alt="点击更换" title="点击更换" onclick="this.src='{:captcha_src()}?time='+Math.random()" class="captcha" name="codeimage" id="codeimage" border="0"/>
        </div>
        </div>
        <button type="submit" class="btn btn-primary btn">登录</button>&emsp;
        <a class="btn btn-success" href="{:url('user/public/register')}">还没有账号？去注册</a>
    </form>
</div>
{/block}