{extend name="templates/public/base.html" /}
{block name="cascade"}{/block}
{block name="main"}
<br />
<h1 align="center">用户注册</h1>
<br />
<div class="container" style="width:86vw;">
    <form action="{:url('doRegister')}" method="post" class="layui-form">
        <div class="layui-form-item">
        <input type="text" class="form-control" lay-verify="require" name="account" id="account" placeholder="请输入常用邮箱">
        </div>
        <div class="layui-form-item">
        <input type="text" class="form-control" lay-verify="require" name="username" placeholder="唯一用户名, 可用作登录（英文/数字/下划线）">
        </div>
        <div class="layui-form-item">
          <input type="text" class="form-control" lay-verify="require" name="nickname" placeholder="昵称，用于对外显示和检索">
        </div>
        <div class="layui-form-item">
        <input type="password" class="form-control" lay-verify="require" name="password" placeholder="请输入密码">
        </div>
        <div class="layui-form-item">
          <input type="password" class="form-control" lay-verify="require" name="repassword" placeholder="请确认你的密码">
        </div>
        <div class="layui-form-item">
          <input type="text" class="form-control" lay-verify="require" name="verify_code" placeholder="请输入接收到的邮箱验证码" />        </div>
        <!-- <div class="form-group">
        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="验证码">
        <br />
        <div class="code-img">
            <img src="{:captcha_src()}" alt="点击更换" title="点击更换" onclick="this.src='{:captcha_src()}?time='+Math.random()" class="captcha" name="codeimage" id="codeimage" border="0"/>
        </div>
        </div> -->
        <div class="form-group">
          <p>
            <button type="button" class="btn btn-success" id="send">发送邮箱验证码</button>&emsp;
            <button type="submit" class="btn btn-primary">确认注册</button>
          </p>
        </div>
    </form>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['form','layer'],function(){
  var form = layui.form;
  var layer = layui.layer;

  var InterValObj; //timer变量，控制时间
  var count = 60; //间隔函数，1秒执行
  var curCount;//当前剩余秒数
  $("#send").on('click',function(){
    var account = $("#account").val();
    curCount = count;
    $(this).attr("disabled","true");
    $(this).text(+curCount+"秒后再获取");
    InterValObj = window.setInterval(SetRemainTime, 1000);
    $.get("{:url('/user/public/send')}"+"?account="+account,function(data,status){
      if(data == 0){
        return true;
      }else{
        if(data == 1){
          alert("请输入正确的邮箱格式");
        }else{
          alert(data);
        }
      }
    });
  });
  function SetRemainTime(){
	  if (curCount == 0){
		  window.clearInterval(InterValObj);//停止计时器
		  $("#send").removeAttr("disabled");//启用按钮
		  $("#send").text("重新发送验证码");
	  } 
	  else{
		  curCount--;
		  $("#send").text( + curCount + "秒再获取");
	  }
  }
});
</script>
{/block}