{extend name="templates/public/base.html" /}
{block name="cascade"}{/block}
{block name="main"}
<br />
<h1 align="center">用户注册</h1>
<br />
<div class="container layui-box" style="width:86vw;">
    <form action="#" method="post" class="layui-form" id="register_form">
        <div class="layui-form-item">
        <input type="text" class="layui-input" name="account" id="account" placeholder="输入常用邮箱">
        </div>
        <div class="layui-form-item">
        <input type="text" class="layui-input" name="username" placeholder="唯一用户名, 可用作登录（英文/数字/下划线）">
        </div>
        <div class="layui-form-item">
          <input type="text" class="layui-input" name="nickname" placeholder="昵称，用于对外显示和检索">
        </div>
        <div class="layui-form-item">
        <input type="password" class="layui-input" name="password" placeholder="输入密码(4-16位)">
        </div>
        <div class="layui-form-item">
          <input type="password" class="layui-input" name="repassword" placeholder="确认密码">
        </div>
        <div class="layui-form-item">
            <input type="text" class="layui-input" name="verify_code" placeholder="邮箱验证码" />    
        </div>
        <div class="form-group">
          <p>
            <button type="button" class="btn btn-success" id="send">发送邮箱验证码</button>&nbsp;
            <button type="button" class="btn btn-primary btn-white" style="width:40%" id="sub">确认注册</button>
          </p>
        </div>
    </form>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['form','layer'],function(){
  var form = layui.form;
  var layer = layui.layer;

  //AJAX表单提交
  $("#sub").on('click',function(){
    $.ajax({
      type: "post",
      url: "{:url('doRegister')}",
      data: $("#register_form").serialize(),
      success: function(result){
        if(result['status'] == 0){
            layer.msg(result['msg'],{icon:1, offset:'40vh',shade:0.5, time: 1200},function(){
                window.location.href="{:url('user/public/login')}";
            });
        }else{
            layer.msg(result['msg'],{icon:2,offset:'40vh',shade:0.5,time: 1600});
        }
      },
      error: function(result){
        alert(result);
        window.location.href="{:url('user/public/register')}";
      }
    });
  });

  var InterValObj; //timer变量，控制时间
  var count = 60; //间隔函数，1秒执行
  var curCount;//当前剩余秒数
  $("#send").on('click',function(){
    var account = $("#account").val();
    curCount = count;
    $(this).attr("disabled","true");
    $(this).text(+curCount+"秒后再获取");
    InterValObj = window.setInterval(SetRemainTime, 1000);
    $.get("{:url('/user/public/send')}"+"?account="+account,function(data,status){
      if(data == 0){
        return true;
      }else{
        if(data == 1){
          alert("请输入正确的邮箱格式");
        }else{
          alert(data);
        }
      }
    });
  });
  function SetRemainTime(){
	  if (curCount == 0){
		  window.clearInterval(InterValObj);//停止计时器
		  $("#send").removeAttr("disabled");//启用按钮
		  $("#send").text("重新发送验证码");
	  } 
	  else{
		  curCount--;
		  $("#send").text( + curCount + "秒再获取");
	  }
  }
});
</script>
{/block}