.mydark{
    background-color: #3d3744;
    border-color: transparent;
    opacity: 0.86;
}
.grey{
    background-color: #111;
    border: 1px;
}
.p-footer{
    text-align: center;
    height: 80px;
}
.layui-form-checked span, .layui-form-checked:hover span{
    background-color: #ef5b25;
}
.layui-form-checked i, .layui-form-checked:hover i{
    color: #ef5b25;    
}
.layui-form-checked, .layui-form-checked:hover{
    border-color: #ef5b25;
}
.layui-form-select dl dd.layui-this{
    background-color: #ef5b25;
}