.mydark{
    background-color: #333;
    border-color: transparent;
    opacity: 0.86;
}
.layui-layer-molv .layui-layer-title{
    background-color: #333!important;
}
.grey{
    background-color: #111;
    border: 1px;
}
.great{
    color: #3d3744;
}
.p-footer{
    text-align: center;
    height: 80px;
}
.layui-form-checked span, .layui-form-checked:hover span{
    background-color: #ef5b25;
}
.layui-form-checked i, .layui-form-checked:hover i{
    color: #ef5b25;    
}
.layui-form-checked, .layui-form-checked:hover{
    border-color: #ef5b25;
}
.layui-form-select dl dd.layui-this{
    background-color: #ef5b25;
}
.proj{
    height:200px;
    padding:10px;
    background-size:contain;
    background-repeat:round;
    background-color: #3a3744;
    opacity: 0.86;
    color: #eee;
}
.mybox{
    display: flex;
    flex-direction: column-reverse;
}