.mydark{
    background-color: #333;
    border-color: transparent;
    opacity: 0.86;
}

/* 颜色大改 */
.myblue{
  background-color: #234d80;
  border-color: transparent;
  opacity: 0.86;
}
.navbar-brand{
    color: #ddd!important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #ddd!important;
}
.text-muted{
   color:#ccc;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
   background-color: #17355a;
   border-color:#173355;
}
.navbar-inverse .navbar-toggle{
  border-color:#234d80;
}
.mytag a:focus, a:hover{
  text-decoration: none;
}
.btn-myblue{
  background-color: #2d63a5;
  color: #eee;
}
.btn-light-grey{
  background-color: #bbb;
  color: #eee;
}
/* 颜色大改 */

.layui-layer-molv .layui-layer-title{
    background-color: #333!important;
}
.grey{
    background-color: #111;
    border: 1px;
}
.great{
    color: #3d3744;
}
.p-footer{
    text-align: center;
    height: 80px;
    line-height: 25px;
}
.layui-form-checked span, .layui-form-checked:hover span{
    background-color: #ef5b25;
}
.layui-form-checked i, .layui-form-checked:hover i{
    color: #ef5b25;    
}
.layui-form-checked, .layui-form-checked:hover{
    border-color: #ef5b25;
}
.layui-form-select dl dd.layui-this{
    background-color: #ef5b25;
}
.old-proj{
    height:200px;
    padding:10px;
    background-size:contain;
    background-repeat:round;
    background-color: #3a3744;
    opacity: 0.86;
    color: #eee;
}
.mybox{
    display: flex;
    flex-direction: column-reverse;
}

/* Acer You Help */
/* 项目整体 */
.proj{
    display: flex;
    flex-flow: row;
    height: 120px;
    /* margin-top: -14px; */
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 8px;
  }
  
  /* 项目图片 */
  .proj-pic{
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .proj-pic .pic-img{
    height: 100px;
    width: 100px;
    overflow: hidden
  }
  
  .proj-pic .pic-img img{
    height: 100%;
    width: 100%;
    object-fit: contain; 
  }
  
  /* 项目信息 */
  .proj-info{
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .proj-info-title{
    margin: 0;
    font-size:16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .proj-info-status{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .proj-info-main {
    margin-top: 6px;
  }
  
  .proj-info-main p{
    font-size: 12px;
    color: #969696;
    letter-spacing: .2px;
    line-height: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
  }
  
  /* 项目状态样式 */
  .status-item{
    font-size: 10px;
    margin-right: 4px;
  }
  .status-icon{
    color: orange;
  }
  .status-type{
    color: orange;
  }
  .status-info{}
  .status-on{
    color: green;
    border: 1px solid green;
  }
  .status-off{
    color: grey;
  }

/* 筛选栏去边框 */
.layui-form-pane .layui-input{
    border-width: 0px;
}
