{extend name="templates/public/base.html" /}
{block name="main"}
<br>
<h1 align="center">发布项目</h1>
<div class="layui-container" style="padding:20px;">
<form class="layui-form" action="{:url('release_handle')}" method="post">
  <div class="layui-form-item">
      <h3>基础信息</h3><br />
      <label class="control-label">项目名称</label>
      <input type="text" name="name" autocomplete="off" placeholder="请输入项目名称" class="form-control" lay-verify="required" />
    </div>
    <div class="layui-form-item">
      <label class="control-label">项目类型</label>
        <select name="category" lay-verify="required">
          <option value="">-- 请选择 --</option>
          {volist name="cateList" id="cates"}
          <optgroup label="{$key}"></optgroup>
            {volist name="cates" id="cate"}
            <option value="{$cate.id}">{$cate.name}</option>
            {/volist}
          {/volist}
        </select>
    </div>
    <div class="layui-form-item">
      <label class="control-label">项目简介</label>
      <textarea class="layui-textarea" name="intro"></textarea>
    </div>
    <hr />
    <div class="layui-form-item" id="tag">
      <h3>项目标签</h3> 
      <div class="col-md-8 col-xs-12 column" pane>
        {volist name="tags" id="tag"}
        <input type="checkbox" name="tags[]" value="{$tag.id}" title="{$tag.name}" />
        {/volist}
      </div>
    </div>
    <h3>角色需要</h3>
    <hr />    
    <div class="role">
    <div class="layui-form-item">
      <div class="col-lg-8 col-xs-8">
      <label class="control-label">角色1</label>
      <select name="role[]" class="form-inline form-control" lay-verify="required">
        <option value="" selected="selected">-- 请选择角色 --</option>
        {volist name="roles" id="role"}
        <option value="{$role.id}">{$role.name}</option>
        {/volist}
      </select>        
      </div>
      <div class="col-lg-4 col-xs-4 column">
        <label class="control-label">操作</label>
        <button type="button" class="btn btn-warning form-control delete">删除角色</button>
      </div>
    </div>
    <label class="control-label">需求技能(必填)</label>    
    <div class="layui-form-item">
      <div class="col-lg-6 col-xs-7">
        <input lay-verify="required" type="text" name="skill1[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
      </div>
      <div class="col-lg-4 col-xs-5">
        <select name="level1[]" class="form-control level">
          <option value="">请先填写技能名</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
        <div class="col-lg-6 col-xs-7">
            <input lay-verify="required" type="text" name="skill2[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
        </div>
        <div class="col-lg-4 col-xs-5">
            <select name="level2[]" class="form-control level">
              <option value="">请先填写技能名</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="col-lg-6 col-xs-7">
            <input lay-verify="required" type="text" name="skill3[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
        </div>
        <div class="col-lg-4 col-xs-5 column">
            <select name="level3[]" class="form-control level">
              <option value="">请先填写技能名</option>
            </select>
        </div>
    </div>
  </div><!--role-->
  <hr />
    <div id="end"></div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 col-xs-12">
      <button type="button" class="layui-btn layui-btn-normal btn-block" id="add">添加角色</button>    
    </div>
    <br /> <hr />
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 col-xs-12">
      <button class="layui-btn btn-block" lay-submit lay-filter="formDemo">立即提交(发布后不可修改)</button>
    </div>
    <br />
</form>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['form','layer'],function(){
  var form = layui.form;
  var layer = layui.layer;
  form.render();
  var n=2;

  $(".level").attr("disabled",true);
  form.render();

  $("#add").on('click',function(){
    var appendTxt = `
    <div class="role">
        <div class="layui-form-item">
          <div class="col-lg-8 col-xs-8">
          <label class="control-label">角色${n}</label>
          <select lay-verify="required" name="role[]" class="form-inline form-control">
              <option value="" selected="selected" >-- 请选择角色 --</option>
              {volist name="roles" id="role"}
              <option value="{$role.id}">{$role.name}</option>
              {/volist}
          </select>        
          </div>
          <div class="col-lg-4 col-xs-4 column">
            <label class="control-label">操作</label>
            <button type="button" class="btn btn-warning form-control delete">删除角色</button>
          </div>
        </div>
        <label class="control-label">需求技能(必填)</label>    
        <div class="layui-form-item">
          <div class="col-lg-6 col-xs-7">
            <input lay-verify="required" type="text" name="skill1[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
          </div>
          <div class="col-lg-4 col-xs-5">
            <select lay-verify="required" name="level1[]" disabled=true class="form-control level">
              <option value="">请先填写技能名</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
            <div class="col-lg-6 col-xs-7">
                <input lay-verify="required" type="text" name="skill2[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
            </div>
            <div class="col-lg-4 col-xs-5">
                <select lay-verify="required" name="level2[]" disabled=true class="form-control level">
                  <option value="">请先填写技能名</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="col-lg-6 col-xs-7">
                <input lay-verify="required" type="text" name="skill3[]" class="layui-input skill" autocomplete="off" placeholder="Skill name" />
            </div>
            <div class="col-lg-4 col-xs-5 column">
                <select lay-verify="required" name="level3[]" class="form-control level">
                  <option value="">请先填写技能名</option>
                </select>
            </div>
        </div>
      </div><!--role-->
      <hr />
    `;
    n = n + 1;
    if(n == 5){$("#add").attr("disabled",true);}
    $("#end").before(appendTxt);
    form.render();
    
    $(".skill").on("change",function(){
      if($(this).val()){
          var optionStr = `
          <option value="1">入门</option>
          <option value="2">熟练</option>
          <option value="3">精通</option>
          `;
          $(this).parent().next().find("select").attr("disabled",false);
          $(this).parent().next().find("select").html(optionStr);
          form.render(); 
      }else{
          var optionStr = `<option value="">请先填写技能名</option>`
          $(this).parent().next().find("select").html(optionStr);
          $(this).parent().next().find("select").attr("disabled",true);
          form.render();
      }
    });

    $(".delete").unbind('click');
    $(".delete").on('click',function(){
      $(this).parent().parent().parent().remove();
      n=n-1;
      console.log(n);
      if(n < 5){
        $("#add").attr("disabled",false);
        form.render();
      }
      form.render();
    });
  }); //add.onclick

  $(".skill").on("change",function(){
    if($(this).val()){
        var optionStr = `
        <option value="1">入门</option>
        <option value="2">熟练</option>
        <option value="3">精通</option>
        `;
        $(this).parent().next().find("select").attr("disabled",false);
        $(this).parent().next().find("select").html(optionStr);
        form.render(); 
    }else{
        var optionStr = `<option value="">请先填写技能名</option>`
        $(this).parent().next().find("select").html(optionStr);
        $(this).parent().next().find("select").attr("disabled",true);
        form.render();
    }
  });

    $(".delete").unbind('click');
    $(".delete").on('click',function(){
      $(this).parent().parent().parent().remove();
      n=n-1;
      console.log(n);
      if(n < 5){
        $("#add").attr("disabled",false);
      }
    });
});

</script>
{/block}