{extend name="templates/public/base.html"}
{block name="main"}
<style>
.p-base{
  font-size: 18px!important;
}
</style>
<div class="layui-container">
  <h1 align="center">{$user.nickname}</h1>
  <h3>基础信息</h3>
  <p>昵称：{$user.nickname}</p>
  <p>性别：{switch name="user.sex"}
    {case value="1"}男{/case}
    {case value="2"}女{/case}
    {default /}未知
    {/switch}
  </p>
  <p>邮箱：建立合作关系后在我的项目->详情中查看</p>
  <p>个性签名：</p>
  <hr />
  <h3>角色信息</h3>
  {volist name="roleInfoList" id="roleInfo" key="k"}
    <p><b>角色{$k}：
        {switch name="key"}
            {case value="1"}开发&测试{/case}
            {case value="2"}产品&文案{/case}
            {case value="3"}设计&美工{/case}
            {case value="4"}运营&市场{/case}
            {default /}暂无
        {/switch}
        </b>
    </p>
    {volist name="roleInfo" id="skill"}
    <p>
        技能：{$skill['name']}&emsp;等级：
        {switch name="skill['level']"}
            {case value="1"}入门{/case}
            {case value="2"}熟练{/case}
            {case value="3"}精通{/case} 
            {default /}
        {/switch}
    </p>
    {/volist}
  {/volist}
  <hr />
  <h3>个人标签</h3>
  <p>/
    {volist name="tags" id="tag"}
        {$tag['name']}&nbsp;/
    {/volist}
  </p>
  <hr />
  <h3>项目经历</h3>
  <p>
    {$exp.exp}
  </p>
  <p>
    {eq name="status" value="0"}
    <button class="layui-btn btn-block" id="invite">邀请加入</button>      
    {else/}
    <a href="{:url('user/profile/center')}" class="layui-btn btn-block">前往个人中心</a>          
    {/eq}
  </p>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['form','layer'],function(){
    var form = layui.form;
    var layer = layui.layer;
    
    $("#invite").on('click',function(){
        layer.open({
          type: 1,
          title: '请选择邀请加入的项目(登录后的功能)',
          offset: ['30vh'],
          skin: 'layui-layer-molv', //加上边框
          closeBtn: 2,
          shadeClose: true,
          area: ['90vw'], //宽高
          content: `
            <div style="padding:15px;">
              {volist name="myProjects" id="myproject"}
                <button class="btn btn-success btn-block invite-btn" {eq name="$myproject['has_invite_today']" value="1"}disabled=true{/eq}
                 data-uid="{$user['id']}" data-pid="{$myproject['id']}">
                【{switch name="myproject['cate_id']"}
                    {case value="1"}比赛{/case}    
                    {case value="2"}外包{/case}
                    {case value="3"}创业{/case}
                    {case value="4"}实验课题{/case}
                    {case value="5"}实践练手{/case}
                    {case value="6"}比赛：国创{/case}
                    {case value="7"}比赛：互联网+{/case}
                    {case value="8"}比赛：数模{/case}
                    {case value="10"}比赛：挑战杯{/case}
                    {case value="11"}比赛：TI杯{/case}
                    {case value="12"}比赛：其他{/case}
                    {/switch}】{$myproject.name}
                </button>
              {/volist}
            </div>
          `,
          success: function(layero, index){
            form.render();
            $(".invite-btn").on('click',function(){
            uid = $(this).attr('data-uid');
            pid = $(this).attr('data-pid');
            $(this).attr("disabled",true);
            $(this).text($(this).text()+"(今日已经邀请过ta加入此项目了)");
            $.get(
              "{:url('user/action/invite')}"+"?uid="+uid+"&pid="+pid,
              function(data,status){
                if(data == 0){
                  layer.msg('发起邀请成功！',{icon: 1,time: 2000,offset: ['30vh']});
                }else if(data == 1){
                  layer.msg('不能邀请自己！',{icon: 2,time: 2000,offset: ['30vh']});
                }else if(data == 2){
                  layer.msg('不能邀请已经在项目中的成员',{icon: 2,time: 2000,offset: ['30vh']});
                }else if(data == 3){
                  layer.msg('内部错误，如果持续出现请联系我们',{icon: 2,time: 2000});
                }else if(data == 4){
                  layer.msg('今日已经邀请过ta加入该项目了噢',{icon: 3,time: 2000,offset: ['30vh']});
                }else if(data.code == 0){
                  layer.msg('您还未登录，请登录后再进行操作！',{icon:2,offset:['30vh']});
                }else{
                  layer.msg('未捕获的错误，如果持续出现请联系我们',{icon: 2,time: 2000});
                }
              }
            );
            layer.close(index);
            });
          }
        });

    });
});
</script>
{/block}