{extend name="templates/public/base.html"}
{block name="main"}
<style>
.p-base{
  font-size: 18px!important;
}
</style>
<div class="layui-container" style="padding-top:10px;">
  <legend align="center" style="font-size:36px;border-color:#bbb;">{$user.nickname}</legend><br/>
  <h3>基础信息</h3>
  <table class="layui-table" lay-even lay-skin="nob">
    <colgroup>
      <col width="35%">
      <col width="65%">
    </colgroup>
      <tbody>
      <tr>
        <td>昵称：</td>
        <td>
          {$user['nickname']}&emsp;
          {switch name="user.sex"}
          {case value="1"}<i class="layui-icon" style="color:rgba(0, 162, 255, 0.651);">&#xe662;</i>{/case}
          {case value="2"}<i class="layui-icon" style="color:rgb(245, 94, 194)">&#xe661;</i>{/case}
          {default /}<i class="layui-icon" style="color:grey">&#xe607;</i>
          {/switch}
        </td>
      </tr>
      <tr>
        <td>QQ和邮箱：</td>
        <td>建立合作关系后在我的项目->详情中查看</td>
      </tr>
      </tbody>
  </table>
  <h3>角色信息</h3>
  {volist name="roleInfoList" id="roleInfo"}
  <p style="color:grey;text-align:center;">{$key}</p>    
      <table class="layui-table" lay-even lay-skin="nob">
          <colgroup>
            <col width="250">
            <col width="800">
          </colgroup>
          <thead>
            <tr>
              <th>技能</th>
              <th>等级（入门/熟练/精通）</th>
            </tr>
          </thead>
          <tbody>
              {volist name="roleInfo" id="skill"}
              <tr>
                  <td>{$skill.name}</td>
                  <td>
                      {switch name="skill['level']"}
                      {case value="1"}
                      <div class="layui-progress layui-progress-big">
                          <div class="layui-progress-bar layui-bg-orange" lay-percent="1/3"></div>
                      </div>
                      {/case}
                      {case value="2"}
                      <div class="layui-progress layui-progress-big">
                          <div class="layui-progress-bar layui-bg-blue" lay-percent="2/3"></div>
                      </div>
                      {/case}
                      {case value="3"}
                      <div class="layui-progress layui-progress-big">
                          <div class="layui-progress-bar" lay-percent="100%"></div>
                      </div>
                      {/case}
                      {default /}
                      {/switch}
                  </td>
              </tr>
              {/volist}
          </tbody>
      </table>
  {/volist}
  <hr />
  <h3>个人标签</h3>
  <br />
  <p>
      {volist name="tags" id="tag" key="k"}
      <span 
      {switch name="k"}
      {case value="1"}class="layui-bg-red"{/case}
      {case value="2"}class="layui-bg-orange"{/case}
      {case value="3"}class="layui-bg-green"{/case}
      {case value="4"}class="layui-bg-cyan"{/case}
      {case value="5"}class="layui-bg-black"{/case}
      {case value="6"}class="layui-bg-gray"{/case}
      {default/}black
      {/switch}
      style="color:#eee;
      ;padding:5px;font-size:11px;">{$tag['name']}</span>
      {/volist}
  </p>
  <hr />
  <h3>项目经历</h3>
  <div class="bg-warning my-exp" style="border-radius:15px;padding:10px;margin:10px 0 20px 0;">
  <p>
    {$exp.exp}
    <br /><br />
  </p>
  </div>
  <p>
    {eq name="status" value="0"}
    <button class="layui-btn btn-block btn-myblue" id="invite">邀请加入</button>      
    {else/}
    <a href="{:url('user/profile/center')}" class="layui-btn btn-block btn-myblue">前往个人中心</a>          
    {/eq}
  </p>
</div>
<br />
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use(['form','layer','element'],function(){
    var form = layui.form;
    var layer = layui.layer;
    var element = layui.element;
    
    $("#invite").on('click',function(){
        $.ajax({
          type: "get",
          url: '{:url("user/public/myprojects")}',
          success: function(result){            
            if(result.status == 0){
              layer.open({
                type: 1,
                title: '请选择邀请加入的项目',
                offset: ['25vh'],
                skin: 'layui-layer-molv', //加上边框
                closeBtn: 2,
                shadeClose: true,
                area: ['90vw'], //宽高
                content: `
                <div style="padding:15px;">
                  {volist name="myProjects" id="myproject"}
                    <button class="btn btn-success btn-block invite-btn" {eq name="$myproject['has_invite_today']" value="1"}disabled=true{/eq}
                    data-uid="{$user['id']}" data-pid="{$myproject['id']}">
                      {$myproject.cate_name}：{$myproject.name}
                    </button>
                  {/volist}
                </div>
              `,
              success: function(layero, index){
                form.render();
                $(".invite-btn").on('click',function(){
                uid = $(this).attr('data-uid');
                pid = $(this).attr('data-pid');
                $(this).attr("disabled",true);
                // $(this).text($(this).text()+"(今日已经邀请过ta加入此项目了)");
                layer.close(index);
                var newIndex = layer.load(0, {offset:['40vh'],shade: 0.5});
                $.get(
                  "{:url('user/action/invite')}"+"?uid="+uid+"&pid="+pid,
                  function(data,status){
                    layer.close(newIndex);
                    if(data == 0){
                      layer.msg('发起邀请成功！',{icon: 1,time: 2000,offset: ['30vh']});
                    }else if(data == 1){
                      layer.msg('不能邀请自己！',{icon: 2,time: 2000,offset: ['30vh']});
                    }else if(data == 2){
                      layer.msg('不能邀请已经在项目中的成员',{icon: 2,time: 2000,offset: ['30vh']});
                    }else if(data == 3){
                      layer.msg('内部错误，如果持续出现请联系我们',{icon: 2,time: 2000});
                    }else if(data == 4){
                      layer.msg('今日已经邀请过ta加入该项目了噢',{icon: 3,time: 2000,offset: ['30vh']});
                    }else if(data.code == 0){
                      layer.msg('您还未登录，请登录后再进行操作！',{icon:2,time:1500,offset:['30vh']},function(){
                        window.location.href="{:url('user/public/login')}";
                      });
                    }else{
                      layer.msg('未捕获的错误，如果持续出现请联系我们',{icon: 2,time: 2000});
                    }
                  }
                );
                });
              }
              });
            }else{
              layer.msg(result.msg,{icon:6,offset:'40vh',shade:0.5,time:1500},function(){
                ref = window.location.href;
                window.location.href=result.data+'?ref='+ref+'&type=2';
              });
            }
          }
        });

    });
});
</script>
{/block}