<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>my projbar</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet"> 
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/common.css" rel="stylesheet">
  </head>
  <body style="margin-top:70px;">
    <h1 align="center">Personal Center</h1>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">项慕吧 projbar.cn&emsp;&emsp;</a>
            <span class="navbar-brand glyphicon glyphicon-search" onclick="ale()"></span>
            <a class="navbar-brand"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#contact">Partner</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:url('user/profile/center')}">Personal Center</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
     
    <div class="container">
      <div class="jumbotron">
        <h2 class="text-info" align="center">User Base Info</h2>
        <p>Username: {$user['username']}</p>
        <p>Mobile: {$user['mobile']}</p>
        <p>Email: {$user['email']}</p>
        <p>Sex: {$user['sex']}</p>
        <p>Birthday: {$user['birthday']}</p>
        <p>Nickname: {$user['nickname']}</p>
        <p>Signature: {$user['signature']}</p>
        <p>Extra: {$user['extra']}</p>
        <p><a class="btn btn-primary" href="{:url('edit_base')}">Edit Base Info</a></p>
      </div>
    </div>

    <div class="container">
        <div class="jumbotron">
          <h2 class="text-info" align="center">Roles Info</h2>            
          <h3>Role:</h3>
          <p>Skill-1:</p>
          <p>Skill-2:</p>
          <p>Skill-3:</p>
          <p>Exp:</p>
          <h3>Role:</h3>
          <p>Skill-1:</p>
          <p>Skill-2:</p>
          <p>Skill-3:</p>
          <p>Exp:</p>
          <p><a class="btn btn-primary" href="{:url('edit_role')}">Edit Role Info</a></p>
        </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/layui/layui.js"></script>  
  </body>
</html>