{extend name="templates/public/base.html" /}
{block name="main"}
<br />
<h3 align="center">编辑基本信息</h3>
<div class="layui-container" style="margin-top:10px;width:80vw;">
    <div class="layui-box">
    <form class="layui-form" action="#" method="post" id="form">
        <div class="layui-form-item">
            手机：<input type="text" class="layui-input" name="mobile" placeholder="手机号" value="{$user.mobile}">
        </div>
        <div class="layui-form-item">
            QQ：<input type="text" class="layui-input" name="qq" placeholder="QQ号" value="{$user.qq}">
        </div>
        <div class="layui-form-item">
            <!-- 性别：<input type="text" class="layui-input" name="sex" placeholder="性别" value="{$user.sex}"> -->
            性别：
            <select name="sex" lay-verify="required">
                <option value="0" {eq name="user.sex" value="0"}selected="selected"{/eq}>保密</option>
                <option value="1" {eq name="user.sex" value="1"}selected="selected"{/eq}>男</option>
                <option value="2" {eq name="user.sex" value="2"}selected="selected"{/eq}>女</option>
            </select>
        </div>

        <div class="layui-form-item">
            昵称：<input type="text" class="layui-input" name="nickname" placeholder="昵称" value="{$user.nickname}">
        </div>
        <div class="layui-form-item">
            额外(100字以内补充说明)：<input type="text" class="layui-input" name="extra" placeholder="额外信息(100字以内)" value="{$user.extra}">
        </div>
        <br />
        <button type="button" id="sub" class="btn btn-primary btn-block">确认修改</button>
    </form>
    </div>
</div>
<br />
{/block}
{block name="free_js"}
<script>
layui.use('form',function(){
    var form = layui.form;
    $("#sub").on('click',function(){
        $.ajax({
            type: 'post',
            url: '{:url("editBase")}',
            data: $("#form").serialize(),
            success: function(result){
                if(result['status'] == 0){
                    layer.msg(result['msg'],{icon:1, offset:'40vh',shade:0.5,time: 1200},function(){
                        window.location.href='{:url("user/profile/center")}';
                    });
                }else{
                    layer.msg(result['msg'],{icon:2, offset:'40vh',shade:0.5,time: 1500});
                }
            },
            error: function(result){
                layer.msg(result,{icon:2, offset:'40vh',shade:0.5,time: 1600});
            }
        });
    });
});
</script>
{/block}