{extend name="templates/public/base.html" /}
{block name="main"}
<br />
<h1 align="center">编辑角色信息</h1><hr />
<div class="layui-container" style="margin-bottom:20px;">
    <h3>角色信息</h3>
    <form class="layui-form form-horizontal" action="{:url('edit_role_handle')}" method="post" role="form">
        <div id="role">
            <div class="layui-form-item">
                <div class="col-md-9 col-xs-11 column">
                <select name="role" class="form-control">
                    {volist name="roles" id="role"}
                    <option value="{$role.id}" {eq name="$role['id']" value="$roleId"}selected="selected"{/eq}>{$role.name}</option>
                    {/volist}
                </select>
                </div>
            </div>
            {for start="0" end="3" name="i"}
            <div class="layui-form-item">
                {if condition="$skillList == []"}
                <div class="col-md-5 col-xs-6 column">
                    <input name="skill[]" type="text" class="form-control skill" placeholder="技能名称(必填)" lay-verify="required" />
                    </div>
                    <div class="col-md-4 col-xs-5 column">
                    <select name="level[]" class="form-control">
                        <option value="1">入门</option>
                        <option value="2">熟练</option>
                        <option value="3">精通</option>
                    </select>
                </div>
                {else/}
                <div class="col-md-5 col-xs-6 column">
                <input name="skill[]" value="{$skillList[$i]['name']}" type="text" class="form-control skill" placeholder="技能名称(必填)" lay-verify="required" />
                </div>
                <div class="col-md-4 col-xs-5 column">
                <select name="level[]" class="form-control">
                    <option value="1" {eq name="$skillList[$i]['level']" value='1'}selected='selected'{/eq}>入门</option>
                    <option value="2" {eq name="$skillList[$i]['level']" value='2'}selected='selected'{/eq}>熟练</option>
                    <option value="3" {eq name="$skillList[$i]['level']" value='3'}selected='selected'{/eq}>精通</option>
                </select>
                </div>
                {/if}
            </div>
            {/for}
        </div> <!-- role -->
        <hr />
        <div id="tag">
            <div class="layui-form-item">
              <h3>个人标签</h3>
              <div class="layui-word-aux">术业有专攻，您最多只能选择六个标签，这将成为自动匹配的重要依据</div>
              <div class="layui-col-md12 layui-col-xs12">
                {volist name="resultTags" id="tag"}
                <input type="checkbox" lay-filter="tag" name="tags[]" class="m-tag"
                title="{$tag.name}" value="{$tag.id}" {eq name="tag['checked']" value="1"}checked="checked"{/eq} />
                {/volist}
              </div>
            </div>
        </div>
        <hr />
        <div id="exp">
            <div class="layui-form-item">
              <h3>项目/实践经历</h3>
              <div class="layui-col-md12 layui-col-xs12">
                <textarea class="form-control" name="exp">{$exp}</textarea>
              </div>
            </div>
        </div>
        <button id="submit" class="layui-btn btn-block" lay-submit>确认提交</button>
    </form>
</div>
{/block}
{block name="free_js"}
{__block__}
<script>
layui.use('form',function(){
    var form = layui.form;
    var num = 0;
    $("m-tag").each(function(){
        if($(this).attr('checked') == "checked"){
            num += 1;
        }
        if(num >= 6){
            $(".m-tag").each(function(){
                if($(this).attr("checked","checked")){
                    console.log(num);
                }else{
                    $(this).attr('disabled',true);
                }
            });
        }
    });
    form.on('checkbox(tag)',function(data){
        $(".m-tag").each(function(){
            if($(this).attr('checked') == "checked"){
                num += 1;
            }else{
                num --;
            }
        });
        if(num >= 6){
            $(".m-tag").each(function(){
                if($(this).attr("checked","checked")){
                    console.log(num);
                }else{
                    $(this).attr('disabled',true);
                }
            });
        }
        console.log(num);
        // console.log(data.elem); //得到checkbox原始DOM对象
        // console.log(data.elem.checked); //是否被选中，true或者false
        // console.log(data.value);
    });
});
</script>
{/block}