{extend name="templates/public/base.html" /}
{block name="main"}
<h2 align="center" style="padding:15px;">为您推荐项目</h1>
<div class="layui-container-fluid" id="list">
    <div class="layui-row layui-col-space12" id="main" style="margin-left:10px;margin-right:10px;margin-bottom:10px;">
        {volist name="projList" id="proj"}
        <div class="layui-col-md4 layui-col-xs12">
          <div class="proj" style="background-image:url({$proj.image});"> 
            <p><b>{$proj.cate_name} : {$proj.name}</b></p>
            <p>{$proj.intro}</p>
            <p><a style="color:#fff;" href={:url("index/index/view","id=$proj[id]")}>查看详情 »»»</a>&emsp;&emsp;</p>
          </div>
        </div>
        {/volist}
    </div>
</div>
{/block}