{extend name="templates/public/base.html"}
{block name="main"}
<style>
h6{
    font-size:15px;
    font-weight: 400;
    line-height: 1.5;
}
</style>
<div class="layui-container">
  <div class="layui-box" style="margin:20px;padding:20px;">
    <h3>关于项慕吧</h3><br />
    <h6>项慕吧是一个项目/人才对接平台，是CTG工作室立足西电为起点的产品。</h6><br />
    <h6>致力于使项目和个人发展相辅相成的项目和个人进行匹配，通过关键且简洁的信息，减少双方的沟通成本，从而产出更优质的项目和人才。</h6><br />       
    <h6>我们抓住了高校中进行自主项目时，寻找到能力匹配的伙伴较为困难这一痛点，整合出了角色/技能/等级/标签/项目经历，这样一套简单但实用的信息结构。</h6><br />
    <h6>项慕吧还是一个在不断成长和完善的产品，如果您对它感兴趣，并且具备工作热情/开发能力/设计经验/外联经历其中的一种或多种，欢迎加入我们或者达成合作。</h6><br />
    <h3>联系我们</h3><br />
    <h6>邮箱：vincentw23@foxmail.com</h6><br />
  </div>
</div>
{/block}