{extend name="templates/public/base.html"}
{block name="main"}
<style>
.dev{
    font-size: 18px;
    line-height: 200%;
}
</style>
<div class="layui-container" style="height:60vh;">
  <div class="layui-box" style="margin:20px 5px 20px 5px;padding:20px;">
    <h3>开发人员</h3><hr />
    <p class="dev">产品：高炜&emsp;郐欣桐&emsp;王星锦</p>
    <p class="dev">开发：王星锦</p>
    <p class="dev">设计：韩紫萱&emsp;陈之岑</p>
    <br />
    <div class="layui-word-aux"><p class="dev">卷心工坊出品 / CTG Production</p></div>
  </div>
</div>
{/block}