<!DOCTYPE>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

    <link rel="icon" href="__STATIC__/favicon.ico">
    <title>项慕吧</title>
    
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/layui/css/layui.css" rel="stylesheet">     
    <link href="__STATIC__/common/css/common0131-1.css" rel="stylesheet">
  </head>
  <body style="margin-top:50px;background-color:#e6e6e6;">
    {block name="navbar"}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top myblue grad1" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('/')}"><span class="glyphicon glyphicon-fire"></span>&nbsp;项慕吧&nbsp;</a>
            <span class="navbar-brand glyphicon glyphicon-search" id="search"></span>
            <a class="navbar-brand" id="release" href="#"><span class="glyphicon glyphicon-pencil"></span><span style="font-size:16px;">&nbsp;发布</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- 可以加class="active"表示选中 -->
              <!-- <li><a href="{:url('/')}"><span class='glyphicon glyphicon-home'></span>&nbsp;首页</a></li> -->
              <li><a href="{:url('/')}"><span class='glyphicon glyphicon-th-list'></span>&nbsp;项目</a></li>
              <li><a href="{:url('index/partner/lists')}"><span class='glyphicon glyphicon-knight'></span>&nbsp;个人</a></li>
              <li><a id="match"><span class='glyphicon glyphicon-cloud'></span>&nbsp;智能匹配</a></li>
              <li><a href="http://study.fenlan96.com"><span class='glyphicon glyphicon-book'></span>&nbsp;CTG学习平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             {$navRight}
              <!-- <li><a href="{:url('user/profile/center')}">Personal Center</a></li>                
              <li><a href="{:url('user/public/login')}">Login</a></li>
              <li><a href="{:url('user/public/register')}">Register</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </nav>
    {/block}
    <!-- 联动下拉 -->
    {block name="cascade"}{/block}
    {block name="main"}
    <h1 align="center">Base Main Templates</h1>
    {/block}
    <footer class="footer deep-grey p-footer" style="margin-top:80px;height:150px;">
      <div class="layui-container" style="padding:10px;">
        <p class="text-muted">
          <a class="text-muted" href="{:url('index/public/about')}">关于项慕吧</a>&nbsp;|
          <a class="text-muted" href="{:url('index/public/contact')}">联系我们</a>&nbsp;|
          <a class="text-muted" href="{:url('index/public/contact')}">开发人员</a>
        </p>
        <p class="text-muted">
          <a class="text-muted" href="http://portal.helloyzy.cn">CTG门户</a>
          |
          <a class="text-muted" href="http://study.fenlan96.com">CTG学习指导平台</a>
          |
          <a class="text-muted" href="http://tgblog.helloyzy.cn">CTG博客</a>
        </p>
        <p class="text-muted">Copyright © 2017-2018 项慕吧 / projbar.cn </p>
        <p class="text-muted"><b>Great Things Start From Tiny</b></p>
        <p class="text-muted">陕ICP备17020688号-2</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="__STATIC__/bootstrap/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    {block name="free_js"}
    <script>
      layui.use(['form','layer'],function(){
          var form = layui.form;
          var layer = layui.layer;
          
          //发布项目
          $("#release").on('click',function(){
            $.get('{:url("user/public/release_auth")}',function(data,status){
              if(data['status'] == 2){
                layer.msg(data['msg'],{icon:6,offset:'40vh',shade:0.5,time:1600},function(){
                  window.location.href="{:url('user/public/login')}";
                });
              }else if(data['status'] == 1){
                layer.msg(data['msg'],{icon:5,offset:'40vh',shade:0.5,time:1500});
                window.location.href="{:url('/')}";
              }else{
                window.location.href="{:url('user/action/release')}";
              }
            });
          });

          //搜索弹窗
          $("#search").on('click',function(){
              layer.open({
              type: 1 //Page层类型
              ,offset: ['40px']
              ,skin: 'layui-layer-molv'
              ,area: ['95vw','70vh']
              ,title: '搜索项目'
              ,shade: 0.6//遮罩透明度
              ,closeBtn: 2
              ,shadeClose: true  
              ,anim: 0 //0-6的动画形式，-1不开启
              ,content: `<form class="layui-form"action={:url('index/index/search')} method="get">
                           <div class="layui-form-item" style="padding:10px;text-align: center;">
                              <input type="radio" name="type" value="1" title="搜项目" checked />
                              <input type="radio" name="type" value="2" title="搜人才" />
                            <input class="layui-input" type="text" name="key" id="key" placeholder="名称检索：输入项目名称/用户昵称" />
                              <br />
                              <select name="tag" lay-verify="" lay-search>
                                <option value="" selected>标签检索</option>
                                <option value="1">web</option>
                                <option value="2">后端</option>
                                <option value="3">前端</option>
                                <option value="4">UI</option>
                                <option value="5">嵌入式</option>
                                <option value="6">通信</option>
                                <option value="7">iOS</option>
                                <option value="8">Android</option>
                                <option value="9">产品</option>
                                <option value="10">运营</option>
                                <option value="11">云计算</option>
                                <option value="12">大数据</option>
                                <option value="13">游戏开发</option>
                                <option value="14">算法</option>
                                <option value="15">机器学习</option>
                                <option value="16">运维</option>
                                <option value="17">数模编程</option>
                                <option value="18">数模建模</option>
                                <option value="19">数模论文</option>
                                <option value="20">商业策划</option>
                              </select>  
                           </div>
                           <div class="layui-container">
                             <button class="layui-btn btn-block btn-myblue" lay-submit id="test" lay-filter="mySubmit">搜索</button>
                           </div>
                         </form>
                         `
                         
              });
              form.render();
          });

          $("#logout").on('click',function(){
            layer.confirm('您确定要注销登录吗？',{icon: 3,offset:['40vh']},function(){
              window.location.href="{:url('user/profile/logout')}";
            });
          });

      });
      $("#match").on('click',function(){
        layer.open({
          type: 1,
          skin: 'layui-layer-molv',
          offset: ['30vh'],
          area: ['80vw'],
          title: '智能匹配选项',
          shade: 0.6,//遮罩透明度
          closeBtn: 2,
          shadeClose: true,
          content:`
          <div style="padding:20px;">
            <button class="btn btn-primary btn-block btn-myblue" id="matchProj">匹配项目</button>
            <button class="btn btn-primary btn-block btn-myblue" id="matchUser">匹配人才</button>
          </div>
          `,
          success: function(layero,index){
            var lastindex= index;
            //匹配项目
            $("#matchProj").on('click',function(){
              $.ajax({
                type:"get",
                url: '{:url("user/public/has_login")}',
                success: function(result){
                  if(result == 1){
                    window.location.href='{:url("user/match/projects")}';
                  }else{
                    layer.msg('请登录后再进行该操作～',{icon:6,offset:'40vh',shade:0.5,time:1500},function(){
                      window.location.href="{:url('user/public/login')}";
                    });
                  }
                },
                error: function(result){
                  console.log(result);
                    layer.msg('未知错误',{icon:5,offset:'40vh',shade:0.5,time:1600},function(){
                  });
                }
              });
            });

            //匹配人才
            $("#matchUser").on('click',function(){
              var testString = '';
              var begin = '<div style="padding:20px;">';
              var end = '</div>'
              $.get(
                "{:url('user/public/myprojects')}",
                function(data,status){
                  if(data == 1){
                    layer.msg('请登录后再进行该操作～',{icon:6,offset:'40vh',shade:0.5,time:1500},function(){
                      window.location.href="{:url('user/public/login')}";
                    });
                  }else{
                    $.each(data,function(i,item){
                      // alert(item.id+' and '+item.name);

                      testString += "<a class='btn btn-block btn-myblue' href={:url('user/match/partners')}"+"?pid="+item.id+">"+item.name+"</a>";
                    });
                      layer.open({
                        type: 1,
                        offset: ['20vh'],
                        title: '请选择项目进行推荐匹配',
                        skin: 'layui-layer-molv',
                        closeBtn: 2,
                        shade: 0.6,
                        shadeClose: true,
                        area: ['80vw'],
                        content: begin+testString+end,
                        success: function(layero,index){
                          layer.close(lastindex);
                        }
                    });
                  }//else
              }); //ajax_get
            }); //chooseProj.onclick
          } //match点击回调
        }); //智能匹配的layer.open
      }); //$("#match").onclick
      
    </script>
    {/block}
  </body>
</html>
